@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

.header {
    height: 100vh;
}

.navbar-style {
    box-shadow: 0 5px 10px #494949 !important;
}

.logo {
    height: 48px;
    padding: 2px 10px;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.carousel-item {
    height: 30rem;
    min-height: 300px;
    background: #000;
}

.carousel-item img {
    opacity: 0.5;
}

/* .carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(to top, #b7b7b700, #958f8f96);
    opacity: 0.7;
} */

/* .samplelang {
    background-image: linear-gradient(to right, #00000063, #00000063), url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}

.samplelang2 {
    background-image: linear-gradient(to right, #00000063, #00000063), url("../img/banner4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
} */

.carousel-caption {
    bottom: 15%;
    padding-left: 100px;
    padding-right: 100px;
}

/* .carousel-caption .name {
    font-size: 3.5em;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Roboto";
    color: yellow;
    text-shadow: 3px 3px 8px black;
}

.carousel-caption .add {
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    text-shadow: 3px 3px 4px black;
} */

section {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

h1 {
    font-size: 1.6rem;
    padding: 10px;
}

.wrapper, .wrapper2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 30px;
}

.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.footer {
    background: #20272E;
    padding-top: 50px;
    padding-bottom: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px;
    gap: 1em;
    position: relative;
}

.left {
    display: block;
}

.foot-logo {
    display: block;
    height: 30%;
    margin-left: auto;
    margin-right: auto;

}

.fa-facebook {
    position: absolute;
    left: 0;

}

.mid {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}

.mid a {
    color: white;
    text-decoration: none;
}

.tabi {
    width: 200px;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    
}

.right {
    display: flex;
    flex-direction: column;
}

.right a {
    color: white;
    text-decoration: none;
    width: fit-content;
    line-height: 1.6;
}

a:hover {
    color: yellow;
    transition: all 0.4s ease;
}

.copy {
    background: #20272E;
    height: 35px;
    border-top: 1px solid #fff;
}

.copy p {
    text-align: center;
    margin: 5px 0;
    color: white;
}



/* codes ko */

/* mobile */
@media only screen and (min-width: 0px){

    nav {
        box-shadow: 0 0 !important;
    }

    .carousel-item > img{
        height: 30rem;
        min-height: 500px;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        transform: scale(1.4);
    }

    .carousel-caption {
        padding-left: 0px;
        padding-right: 0px;
        transform: translateY(-60px);
    }


    .carousel-caption > h5 {
        font-size: 30px !important;
        text-transform: capitalize;
    }

    .carousel-caption > p {
        font-size: 15px !important;
    }


    .footer > .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer > .grid > .left {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer > .grid > .left > .foot-logo {
        height: 80px;
        width: 80px;
        /* margin: auto 0; */
    }

    .footer > .grid > .left > .mid > a > i {
        transform: translateY(5px);
    }
}

/* tablet */
@media only screen and (min-width: 618px){

    .carousel-caption > h5 {
        font-size: 45px !important;
        text-transform: capitalize;
    }

    .footer > .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 150px;
        gap: 1em;
        position: relative;
    }

    .footer > .grid > .left {
        display: flex;
        flex-direction: column;
    }

    .footer > .grid > .left > .foot-logo {
        display: block;
        height: 90px;
        width: 90px;
    }

    .footer > .grid > .left > .mid > a > i {
        position: absolute;
        left: 0;
    }
    
    .mid {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .mid a {
        color: white;
        text-decoration: none;
    }
}

/* pc */
@media only screen and (min-width: 1300px){

}